<div class="section-bar">
  <div class="card-body">
    <mat-card>
      <div class="row">
        <div class=""><header>Property Split Request</header></div>
      </div>

      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Owner Details </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-body">
              <form [formGroup]="propOwnerform">  
            <div class="row" *ngFor="let prop of propertyComponent; let i=index;">
              <div class="col-3">
                <div class="form-group">
                  <label for="">Owner's/Holder's Name <span>*</span></label>
                  <input type="text" name="owner_name" id="" value="" placeholder="NA" formControlName="owner_name"/>

              
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Husband/Father's Name</label>
                  <input type="text" name="father_name" id="" value="" placeholder="NA" formControlName="father_name" 

                  />
          
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Date of Birth</label>
                  <input type="date" name="dob" id="" value="" placeholder="NA" formControlName="dob" 
                  />
          
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Permanent Address <span>*</span></label>
                  <input type="text" name="perma_add" id="" value="" placeholder="NA" formControlName="perma_add" 
                  />
               
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Residental Address</label>
                  <input type="text" name="res_add" id="" value="" placeholder="NA" formControlName="res_add" 
                  />
               
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Mobile Number <span>*</span></label>
                  <input type="text" name="mobile_no" id="" value="" placeholder="NA" formControlName="mobile_no" 
                  />
           
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Alternate Mobile Number</label>
                  <input type="text" name="alt_mob_no" id="" value="" placeholder="NA" formControlName="alt_mob_no" 
                  />
                 
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Email<span>*</span></label>
                  <input type="text" name="email" id="" value="" placeholder="NA" formControlName="email" 
               />
       
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Alternate Email</label>
                  <input type="text" name="alt_email" id="" value="" placeholder="NA" formControlName="alt_email" 
                  />
                   <div class="col-6">
                        <div class="form-group">
                          <button class="btn btn-sm btn-primary float-right" id="btn2" title="delete form" (click)="removeSectionOwner(i)"><span class="material-icons">delete</span></button>
                        </div>
                      </div> 
           
                </div>
              </div>
            </div>
              <button class="btn btn-lg btn-primary" title="add form" (click)="addSectionOwner()">More Form</button>
           
            
                  
              <!-- <button type="submit" class="btn btn-sm btn-primary">Submit</button> -->
            
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Property </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-body">
     
            <div class="row">
                 <div class="col-3">
                <div class="form-group">
                  <label for="">Property Id</label>
                  <input type="text" name="" id="" placeholder="NA" />
                 
                </div>
              </div>
               <div class="col-3">
                <div class="form-group">
                  <label for="">Dimensions of Land</label>
                  <input type="text" name="" id="" placeholder="NA" />
                
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Ward <span>*</span></label>
                  <input required type="text" name="" id="" placeholder="NA" />
                
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Easy City Code</label>
                  <input type="text" name="" id="" placeholder="NA" />

                </div>
              </div>

              <div class="col-3">
                <div class="form-group">
                  <label for="">Surrounding Property Structure</label>
                  <input type="text" name="" id="" placeholder="NA" 
                 />
               
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Locality</label>
                  <input type="text" name="" id="" placeholder="NA"
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="">Sub-locality</label>
                  <input type="text" name="" id="" placeholder="NA" 
                 />
                </div>
              </div>
              </div>
            
            <!-- </form> -->
           
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>Survey Detail - Floor Details</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-body">
            <div class="row">
                <div>
                  <table>
                    <thead>
                      <tr>
                        <th>Total Builtup Area</th>
                        <th>Floor</th>
                        <th>Builtup</th>
                        <th>Construction Type</th>
                        <th>Building Use</th>
                        <th>Self or Rent</th>
                        <th>Rented Value</th>
                        <th>Location Class</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>5678</td>
                        <td>678</td>
                        <td>56</td>
                        <td>ghjk</td>
                        <td>for</td>
                        <td>r</td>
                        <td>098</td>
                        <td>6</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary mt-3" title="add form" (click)="addSplitPartition()">Create Partition</button>  
                  <!-- <span class="material-icons">add &nbsp;</span> -->
                </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
        <form [hidden]="isDisplayed">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>Edit Floor Details</mat-panel-title>
              </mat-expansion-panel-header>
              <div class="card-body">
                <div class="row">
                  <table>
                    <thead>
                      <tr>
                       <th>Total Builtup Area</th>
                       <th>Floor</th>
                       <th>Builtup</th>
                       <th>Construction Type</th>
                       <th>Building Use</th>
                       <th>Self or Rent</th>
                       <th>Rented Value</th>
                       <th>Location Class</th>
                       <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr>
                       <td>700</td>
                       <td>5th</td>
                       <td>700</td>
                       <td>RCC</td>
                       <td>Commercial</td>
                       <td>S</td>
                       <td>0</td>
                       <td>3</td>
                       <td><button type="button" mat-raised-button color="primary" (click)="floorPartition()">Split</button></td>
                     </tr>
                    </tbody>
                  </table>
                 </div>
              </div>
              
              </mat-expansion-panel>
              </mat-accordion>

          <mat-accordion >
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              *ngFor="let num of arr;index as i"
            >
              <mat-expansion-panel-header>
                <mat-panel-title >Property Partition - {{i+1}}</mat-panel-title>
              </mat-expansion-panel-header>
              <div class="card-body">
                <div class="row">
                  <table>
                    <thead>
                      <tr>
                       <th>Total Builtup Area</th>
                       <th>Floor</th>
                       <th>Builtup</th>
                       <th>Construction Type</th>
                       <th>Building Use</th>
                       <th>Self or Rent</th>
                       <th>Rented Value</th>
                       <th>Location Class</th>
                       <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                     <tr>
                       <td></td>
                     </tr>
                    </tbody>
                  </table>
                 </div>
              </div>
              </mat-expansion-panel>
              </mat-accordion>

            
            <mat-accordion>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>Document</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <label for="">Identity Proof Document <span>*</span></label>
                      <select>
                        <option>Aadhar Card</option>
                        <option>Pan Card</option>
                      </select>
                      <input type="file" name="document" id="" placeholder="NA" 
                    
                      />
                      
                    </div>
                  </div>
                </div>
                </mat-expansion-panel>
                </mat-accordion>
                <button type="submit" class="btn btn-primary btn-lg p-3 mt-3" (click)="SubmitPropSplitData()">Submit Form</button>
        </form> 
        
        
      <!-- <button type="submit" class="btn btn-sm btn-primary  mt-3 p-3" (click)="submitPropMergeData()">Submit Form</button> -->
    </mat-card>

    
  </div>
</div>

<!-- <div class="row" *ngFor="let some of dataarray;let k=index">
  <div class="form-group col-md-4">
    <label>Name</label>
    <input type="text" name="name1{{k}}" [(ngModel)]="some.name1"
  >
  </div>
  <div class="form-group col-md-4">
    <label>Doc</label>
    <select>
    <option value="">Adhar Card</option>
    <option value="">Pan Card</option>
</select>
    <input type="file" name="doc1{{k}}" [(ngModel)]="some.doc1"
>
  </div>
  <div class="form-group col-md-4">
    <button class="btn btn-sm btn-primary float-right" id="btn2" title="delete form" (click)="removeForm(k)"><span class="material-icons">delete</span></button>
  </div>
</div>
<div class="add-input">
  <button (click)="addForm()"><span class="material-icons-outlined">
      add_circle
      </span>Another Owner Info</button>
      
</div> -->


