a{
    text-decoration: none;
  }
    label{
    display: block;
    margin-bottom: 5px;
  }
  
  header{
    /* display: inline; */
    font-size: 23px;
    font-style: normal;
    color: hsl(231, 78%, 43%);
    font-family: sans-serif;
    margin-bottom: 25px;
    margin-right: 800px;
  }
  mat-panel-title{
    font-style: italic;
    font-family: sans-serif;
    font-size: 15px;
  }
 
  input{
    height: 8vh;
    width: 220px;
    /* background-color: #bcebfc ; */
    border: none;
    border-bottom: 1px solid #7b7b7b;
    margin-bottom: 30px;
    outline: none;
  }
  i{
    position: absolute;
    right: 50px;
  }
  /* #btn1{
  } */
  /* #btn2{
    float: right;
    margin-top: 100px;
  } */
.support{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f3f3f3;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: normal;
  font-style: normal;
}
.DocShow{
  box-sizing: border-box;
  display: flex;
}
.form-group{
  flex: 25%;
}
  
  
header{
  /* display: inline; */
  font-size: 23px;
  font-style: normal;
  color: hsl(231, 78%, 43%);
  font-family: sans-serif;
  margin-bottom: 25px;
  margin-right: 800px;
}
table{
  margin-top: 10px;
  width: 100%;
  /* border: 1px solid black; */
}

input{
  height: 7vh;
  width: 220px;
  /* background-color: #bcebfc ; */
  border: none;
  border-bottom: 1px solid #7b7b7b;
  margin-bottom: 30px;
  outline: none;
}

div {
  min-width: 100px;
}


@media screen and (min-width: 301px) {
  .section {
      display: flex;
      flex-wrap: wrap;
  }
}

@media screen and (min-width: 300px) {
  .new-page {
      overflow-y: auto;
  }
}


.card-section {
  color: var(--maincard-text);
  background-color: var(--background-maincard);
  height: 230px;
  width: 230px;
  outline-style: auto;
}


mat-card.card-list.mat-card {
  background-color: var(--background-maincard);
  box-shadow: none;
  padding: 0;
  margin-bottom: 15px;
}